#detor_form,
#settings_form {
    width: 700px;
    margin: 100px;
    background: #fff;
    border-radius: 2px;
    padding: 25px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    #form-configuration {
        #extend_trial_form {
            margin-left: 50px;
        }
        .col-lg-6 {
            padding-left: 0;
        }
    }
}