$color_1: #fff;
$color_2: #2b5d8f;
$color_3: rgba(0, 0, 0, 0.8);
$color_4: rgba(0, 0, 0, 0.2);
$color_5: rgba(0, 0, 0, 0.4);
$font_family_1: 'Roboto',
sans-serif;
$background_color_1: transparent;
$background_color_2: #fff;
$border_color_1: #2b5d8f;

body.loginpage {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: $font_family_1;
    overflow: hidden;

    .box {
        position: relative;
        top: 0;
        opacity: 1;
        float: left;
        padding: 60px 50px 40px 50px;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        z-index: 5;
        transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        &:before {
            content: "";
            width: 100%;
            height: 30px;
            border-radius: 10px;
            position: absolute;
            top: -10px;
            background: rgba(255, 255, 255, .6);
            left: 0;
            transform: scale(.95);
            -webkit-transform: scale(.95);
            -ms-transform: scale(.95);
            z-index: -1;
        }
    }

    .box.back {
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
        top: -20px;
        opacity: .8;
        z-index: -1;
    }

    .overbox {
        .title {
            color: $color_1;
            z-index: 111;
            position: relative;
            color: $color_1 !important;
            display: none;
            width: 80%;
            &:before {
                background: #fff;
            }
        }
        .input {
            .spin {
                background: rgba(255, 255, 255, 1);
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
            }
            z-index: 111;
            position: relative;
            color: $color_1 !important;
            display: none;
            margin-top: 0;
            input {
                color: $color_1;
            }
            label {
                color: $color_1;
            }
        }
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: inherit;
        border-radius: 10px;
        padding: 35px 50px 40px 50px;
        .button {
            z-index: 111;
            position: relative;
            color: $color_1 !important;
            display: none;
        }
        .material-button {
            display: block;
            .shape {
                display: block;
            }
        }
        .alt-2 {
            display: block;
            .shape {
                display: block;
            }
        }
    }

    .title {
        width: 100%;
        float: left;
        line-height: 46px;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 2px;
        color: $color_2;
        position: relative;
        &:before {
            content: "";
            width: 5px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -50px;
            background: #2b5d8f;
        }
    }

    .input {
        transition: 300ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
        width: 100%;
        float: left;
        margin-top: 30px;
        height: 70px;
        position: relative;
        label {
            transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            width: 100%;
            float: left;
            font-family: $font_family_1;
            font-size: 24px;
            color: $color_3;
            font-weight: 300;
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 2;
            cursor: pointer;
            line-height: 60px;
        }
        input {
            transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            width: 100%;
            float: left;
            position: relative;
            height: 60px;
            top: 10px;
            border: none;
            background: transparent;
            font-family: $font_family_1;
            font-size: 24px;
            color: $color_3;
            font-weight: 300;
        }
        .spin {
            transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            width: 100%;
            float: left;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #2b5d8f;
            z-index: 4;
            width: 0;
        }
        &:before {
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            background: rgba(0, 0, 0, 0.1);
            z-index: 3;
        }
    }

    .button {
        transition: 300ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
        width: 100%;
        float: left;
        margin-top: 30px;
        height: 70px;
        position: relative;
        margin-top: 20px;
        margin: 40px 0;
        overflow: hidden;
        z-index: 2;
        input[type='submit'] {
            .button.login {
                input[type='submit'] {
                    i.fa {
                        transition: 300ms cubic-bezier(.4, 0, .2, 1);
                        -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                        -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                    }
                }
            }
            width: 100%;
            float: left;
            position: relative;
            font-family: $font_family_1;
            font-size: 24px;
            color: $color_3;
            font-weight: 300;
            width: 100%;
            line-height: 64px;
            left: 0%;
            background-color: $background_color_1;
            border: 3px solid rgba(0, 0, 0, 0.1);
            font-weight: 900;
            font-size: 18px;
            color: $color_4;
            background-color: $background_color_2;
            color: $color_2;
            border: none;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
    }

    .material-button {
        .shape {
            &:before {
                transition: 300ms cubic-bezier(.4, 0, .2, 1);
                -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                content: "";
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(360deg);
                -webkit-transform: translate(-50%, -50%) rotate(360deg);
                -ms-transform: translate(-50%, -50%) rotate(360deg);
                width: 25px;
                height: 4px;
            }
            &:after {
                transition: 300ms cubic-bezier(.4, 0, .2, 1);
                -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                content: "";
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(360deg);
                -webkit-transform: translate(-50%, -50%) rotate(360deg);
                -ms-transform: translate(-50%, -50%) rotate(360deg);
                height: 25px;
                width: 4px;
            }
            transition: 400ms cubic-bezier(.4, 0, .2, 1);
            -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
            -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background: #2b5d8f;
        position: absolute;
        top: 40px;
        right: -70px;
        cursor: pointer;
        z-index: 100;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
    }

    .button.login {
        button {
            transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
            width: 100%;
            line-height: 64px;
            left: 0%;
            background-color: $background_color_1;
            border: 3px solid rgba(0, 0, 0, 0.1);
            font-weight: 900;
            font-size: 18px;
            color: $color_4;
            i.fa {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                line-height: 60px;
                transform: scale(0) rotate(-45deg);
                -webkit-transform: scale(0) rotate(-45deg);
                -ms-transform: scale(0) rotate(-45deg);
            }
            &:hover {
                color: $color_2;
                border-color: $border_color_1;
            }
        }
        width: 60%;
        left: 20%;
        margin-top: 30px;
        button.active {
            border: 3px solid transparent;
            color: $color_1 !important;
            span {
                opacity: 0;
                transform: scale(0);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
            }
            i.fa {
                opacity: 1;
                transform: scale(1) rotate(-0deg);
                -webkit-transform: scale(1) rotate(-0deg);
                -ms-transform: scale(1) rotate(-0deg);
            }
        }
    }

    .alt-2 {
        transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #2b5d8f;
        position: absolute;
        top: 40px;
        right: -50px;
        cursor: pointer;
        z-index: 100;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        .shape {
            transition: 400ms cubic-bezier(.4, 0, .2, 1);
            -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
            -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            &:before {
                content: "";
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(360deg);
                -webkit-transform: translate(-50%, -50%) rotate(360deg);
                -ms-transform: translate(-50%, -50%) rotate(360deg);
                width: 25px;
                height: 4px;
            }
            &:after {
                content: "";
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(360deg);
                -webkit-transform: translate(-50%, -50%) rotate(360deg);
                -ms-transform: translate(-50%, -50%) rotate(360deg);
                height: 25px;
                width: 4px;
            }
        }
    }

    .pass-forgot {
        width: 100%;
        float: left;
        text-align: center;
        color: $color_5;
        font-size: 18px;
    }

    .click-efect {
        position: absolute;
        top: 0;
        left: 0;
        background: #2b5d8f;
        border-radius: 50%;
    }

    .material-button.active {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) rotate(0deg);
        -webkit-transform: translate(50%, -50%) rotate(0deg);
        -ms-transform: translate(50%, -50%) rotate(0deg);
    }

    .alt-2.active {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) rotate(0deg);
        -webkit-transform: translate(50%, -50%) rotate(0deg);
        -ms-transform: translate(50%, -50%) rotate(0deg);
    }



    .materialContainer {
        width: 100%;
        max-width: 460px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        outline: none;
        &:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
            outline: none;
        }
        &::before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
            outline: none;
        }
    }
}